@page

<h2>Client Restaurants</h2>

<table class="table" id="studentsTable">

</table>

@section Scripts {


        <script>

            $(function () {
                $.ajax("/api/persons/",
                    { method: "get" })
                    .then(function (response) {
                        console.log(response)
                    });
            });


        </script>
}

